apiVersion: 1

policies:
  - orgId: 1
    receiver: Gmail Alert
    group_by:
      - alertname
      - cluster
      - service
    group_wait: 10s
    group_interval: 10s
    repeat_interval: 12h
    routes:
      - receiver: Gmail Alert
        group_by:
          - alertname
